<main class="container" [class]="{ 'remote-on': serverRunning }">

  <div class="ip-address">{{ ipAddress }}:</div>

  <input id="port" class="port-input" type="number" min="1025" max="65500" [(ngModel)]="port" />

  <div
    class="qr-code"
    (click)="toggleServer()"
    title="remote is {{ serverRunning ? 'ON' : 'OFF' }}"
  >
    <qr-code
      [style]="{ 'border-radius': '10px', 'border-bottom-right-radius': '0' }"
      value="{{ 'http://' + ipAddress + ':' + port() }}"
      size="260"
      margin="0"
      errorCorrectionLevel="M" />
  </div>

  <!--
  <p class="uptime">System uptime: {{ uptime | duration }}</p>
  -->

  <p class="autostart" (click)="toggleAutostart()">{{ autostart ? 'autostart' : 'no autostart' }}</p>

</main>
