.logo.angular:hover {
  filter: drop-shadow(0 0 2em #e32727);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// default style for when the remote is OFF

.container {
  background: #f0f0f0;
  border-radius: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #999999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 12px;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.ip-address,
.port-input {
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
}

.ip-address {
  color: #888888;
  cursor: default;
  padding-left: 50px;
}

.port-input {
  background: transparent;
  border: 0;
}

input[type=number]:hover::-webkit-inner-spin-button {
  cursor: ns-resize;
}

.uptime {
  font-family: monospace;
}

.qr-code {
  background: white;
  border-radius: 30px;
  border: 5px solid;
  margin: 20px auto;
  padding: 20px;
  width: 260px;

    border-color: grey;
    cursor: pointer;
    opacity: 0.5;
}

.autostart-container {
  position: absolute;
  bottom: 3.5px;
  width: 100%;
  font-size: 12px;

  .hoverable {
    cursor: pointer;
    width: 100px;
    margin: auto;

    .autostart {
      margin: auto;
      cursor: pointer;
      font-family: monospace;
      display: none;
    }

    .placeholder {
      font-size: 14px;
      opacity: 0.5;
      transform: translate(0, 2px);
      display: inline-block;
      width: 30px;
    }

    &:hover {
      .autostart {
        display: initial;
      }

      .placeholder {
        display: none;
      }
    }
  }
}

// Configure styles for when the remote is on

.remote-on {
  .ip-address {
    color: black;
  }

  .qr-code {
    border-color: green;
    cursor: not-allowed;
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
